<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="./">
					<img src="img/icon.png" class="logo pull-left" width="50px" height="50px" alt="Brand">
					<span>haunter.js</span>

					<div class="main-status">
						<ng-pluralize class="label label-danger" 
							count="totalFailed" 
							when="{'one': '1 test failed',
						           'other': '{} test failed'}"
						    ng-show="(totalFailed > 0)"
						    data-toggle="modal" data-target="#failed-tests-modal">
						</ng-pluralize>
						<span class="label label-success" 
							ng-show="(totalFailed == 0)">
							No failures
						</span>
					</div>
				</a>
			</div>
		</div> <!-- /.container-fluid -->
	</nav>
</header>

<!-- failed test list modal -->
<div id="failed-tests-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
					Failed tests
				</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li ng-repeat="test in failedTests">
						<a href ng-click="goToTest(test.testHierarchy)">
							{{test.testHierarchy}}
						</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" 
					data-dismiss="modal">
					Ok
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
