<div class="snap" href="#">
	<h3>
		{{$index + 1}}. {{snap.annotation}}
	</h3>

	<div class="snap-content col-md-12">

		<small class="snap-css-selector pull-right"
			ng-class="{'label label-danger': snap.cssSelector.indexOf('Selector not found:') != -1}">
			{{snap.cssSelector}}
		</small>

		<ul class="nav nav-pills">
			<li role="presentation" 
				ng-class="{active: snap.activeTab == 'latest'}"
				ng-show="snap.latestScreenshot[testData.viewport]">

				<a href ng-click="snap.activeTab = 'latest'">latest</a>
			</li>
			<li role="presentation" 
				ng-class="{active: snap.activeTab == 'baseline'}"
				ng-show="snap.baseScreenshot[testData.viewport]">

				<a href ng-click="snap.activeTab = 'baseline'">baseline</a>
			</li>
			<li role="presentation" class="difftab"
			ng-class="{active: snap.activeTab == 'diff'}"
			ng-show="snap.failScreenshot[testData.viewport]">

			<a href ng-click="snap.activeTab = 'diff'">diff</a>
			</li>

		</ul>

		<div class="alert alert-warning" 
			ng-if="(snap.failScreenshot[testData.viewport] != undefined)">
			There's a conflict. 
			Which one is the correct snapshot: 
			<a href ng-click="showModalSnap('latest', snap.latestScreenshot[testData.viewport])"
				data-toggle="modal" data-target="#confirm-modal">
				latest</a> 
			or 
			<a href ng-click="showModalSnap('baseline', snap.baseScreenshot[testData.viewport])" 
				data-toggle="modal" data-target="#confirm-modal">
				baseline</a>
			?
		</div>

		<div class="tab-content col-md-12 thumbnail">

			<div class="tab-pane" 
			ng-class="{active: snap.activeTab == 'latest'}" 
			ng-if="(snap.latestScreenshot[testData.viewport] != undefined)">
				<a ng-href="{{snap.latestScreenshot}}">
					<img ng-src="{{snap.latestScreenshot[testData.viewport]}}" alt="Latest capture" />
				</a>
			</div>

			<div class="tab-pane" 
			ng-class="{active: snap.activeTab == 'baseline'}"
			ng-if="(snap.baseScreenshot[testData.viewport] != undefined)">
				<a ng-href="{{snap.baseScreenshot}}">
					<img ng-src="{{snap.baseScreenshot[testData.viewport]}}" alt="Baseline" />
				</a>
			</div>

			<div class="tab-pane" 
			ng-class="{active: snap.activeTab == 'diff'}" 
			ng-if="(snap.failScreenshot != undefined)">
				<a ng-href="{{snap.failScreenshot[testData.viewport]}}">
					<img ng-src="{{snap.failScreenshot[testData.viewport]}}" alt="Latest capture" />
				</a>
			</div>

			<div class="alert alert-warning" 
				ng-if="(snap.latestScreenshot[testData.viewport] == undefined)">
				No capture found to compare with. Please re-run this test.
			</div>

		</div>

	</div>
</div>

